.header {
  display: flex;
  align-items: center;
  padding: 50px 10%;
  font-size: 20px;
}

.header a {
  background-color: #120b48;
  color: white;
  padding: 10px;
  outline: none;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.header a svg {
  margin-left: 10px;
  margin-top: 3px;
}

img {
  width: 100%;
}

#features {
  display: flex;
  align-items: center;
  padding: 50px 10%;
  font-size: 20px;
}

#features .left div {
  display: flex;
  margin-bottom: 20px;
}

#features .left div .svg {
  margin-right: 20px;
  background-color: #120b48;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#features .left div svg {
  font-size: 30px;
  color: white;
}

#how_it_works {
  display: flex;
  align-items: center;
  padding: 50px 10%;
  font-size: 20px;
}

#how_it_works div {
  text-align: center;
}
#how_it_works span {
  background-color: #120b48;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}
#how_it_works h3 {
  margin: 20px 0px;
}

.grey {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100px;
}

@media screen and (max-width: 700px) {
  .header {
    display: block;
    padding: 50px 5%;
    font-size: 18px;
  }
  .header .left {
    text-align: center;
    margin-bottom: 20px;
  }
  .header a {
    margin: auto;
  }
  .header .left p {
    margin: 20px 0px;
  }
  .header .left h1 {
    font-size: 30px;
  }
  #features {
    display: block;
    padding: 50px 5%;
    font-size: 18px;
  }
  #features .left {
    margin-bottom: 30px;
  }
  #how_it_works {
    display: block;
    padding: 50px 5%;
    font-size: 18px;
  }
  #how_it_works span {
    background-color: #120b48;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
  }
  .grey {
    background-color: rgba(0, 0, 0, 0.05);
    height: 50px;
  }
}
