.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: transparent;
  width: 100%;
  height: 100vh;
}

.dark-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  z-index: 1000;
}

.modal .svg-cont {
  display: flex;
  align-items: center;
  justify-content: right;
}

.modal svg {
  font-size: 30px;
  display: block;
  text-align: right;
  cursor: pointer;
}

.modal img {
  margin-bottom: 20px;
}

.modal p {
  margin-bottom: 30px;
}

.modal button {
  background-color: #120b48;
  color: white;
  padding: 10px;
  outline: none;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal small {
  margin-bottom: 20px;
  display: block;
}

.modal a {
  color: #120b48;
  font-weight: bold;
}
