.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  height: 70px;
}

.navbar .profile {
  display: flex;
  align-items: center;
}

.navbar .profile svg {
  font-size: 35px;
}

.navbar span {
  margin: 0px 10px;
}

.navbar .features a {
  margin: 5px;
}
.navbar a {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px 10px;
  border-radius: 10px;
}

.navbar .logo {
  background-color: transparent;
  display: flex;
  align-items: center;
}

.navbar .logo h3 {
  margin-left: 5px;
}

@media screen and (max-width: 700px) {
  .navbar {
    position: relative;
    padding: 0px 2%;
  }
  .navbar a {
    position: absolute;
  }
  .navbar a:nth-child(1) {
    left: 2%;
  }
  .navbar a:nth-child(2) {
    right: 5%;
    bottom: -35px;
  }
  .feat {
    position: absolute;
    bottom: -35px;
  }
  .navbar a:nth-child(3) {
    right: 6%;
  }
}
