.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
}

.top-bar .profile {
  display: flex;
  align-items: center;
}

.top-bar .profile svg {
  font-size: 35px;
}

.top-bar span {
  margin: 0px 10px;
}

.top-bar .logo {
  background-color: transparent;
  display: flex;
  align-items: center;
}

.top-bar .logo h3 {
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .top-bar {
    padding: 50px 5%;
  }
}
